.inftop {
  display: block;
  float: right;
  width: 60%;
  padding-left: 10px;
  padding-right: 150px;
  padding-top: 4px;
  padding-bottom: 5px;
  font-family: Roboto Condensed;
  text-align: right;
}
.inftop img{
    margin-right:10px;
    margin-left:10px;
}
#logo-top {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  left: 10%;
  z-index: 2;
}
.container{
    max-width: 100%;
    margin: auto;
    top:0;
}
.container video{
    display: block;
    width:100%;
}
.nav{
    width:100%;
    background-color: rgba(0,0,0,0);
    position:absolute;
    top:7%;
    left:3%;
    z-index:1;
}
.nav ul{
    text-align:center;
}
.nav ul li{
    display:inline-block;
    color:white;
    font-family: Roboto Condensed;
    margin:15px;
}
.nav ul li a{
    text-decoration:none;
}
#aboutus{
    text-align:center;
}
w3-bar{
    left:90%;
}
.cont{
    display:block;
    align-items:center;
}