#logo {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  left: 10%;
  z-index: 2;
}
.container {
  max-width: 100%;
  margin: auto;
}
.container video {
  display: block;
  width: 100%;
}
